.dark-mode {
  background: #0f0f0f;
}

.dark-mode h1,
.dark-mode h2 {
  color: white;
}

.container {
  padding-top: 70px;
  padding-bottom: 30px;
}

.settings-button {
  font-size: 1.2rem;
}

.table-column {
  margin-bottom: 30px;
}

.column-head {
  padding-left: 1rem;
}

.column-body {
  height: 360px;
  overflow-y: scroll;
  font-size: .9em;
}

.tweet:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px
}

.tweet-created-at a {
  font-size: .9em;
}